/* ------------- HERO BANNER ------------- */

.hero{
    max-width: 100vw;
    height: 90vh;
    position: relative;
    overflow: hidden;
    border-bottom: 2px solid rgb(255, 218, 149);
}

.hero-content{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-left: 100px;
    background-color: rgba(0, 0, 0, 0.85);
}

video{
    width: 100%;
}

.hero-content div{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.hero-content button{
    margin-top: 40px;
    padding: 15px 30px;
    background-color: rgb(255, 203, 93, 0.5);
    border-radius: 5px;
    border: none;
    border-right: 2px solid rgb(255, 218, 149);
    border-bottom: 2px solid rgb(255, 218, 149);
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

.hero-content button:hover{
    cursor: pointer;
}

.slogan p{
    color: white;
    font-size: 1.6rem;
}

.yellow-emphasis{
    color: rgb(255, 203, 93);
}

.orange-emphasis{
    color: rgb(216, 154, 40);
}

.slogan h1{
    color: white;
    font-size: 5rem;
}

/* ------------- MAIN ------------- */

section{
    margin: 200px 0;
    overflow-x: hidden;
}

.recipes-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: antiquewhite;
    text-align: center;
}

.recipes-carousel{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.recipes-carousel > div{
    display: flex;
    position: relative;
    bottom: -20px;
    border: 3px solid rgb(110, 88, 35);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.9);
    padding: 20px;
    margin: 0 40px;
    filter: blur(3px);
}

.recipes-carousel .emphasis{
    bottom: 0;
    transition: transform 0.3s linear 0s;
    filter: blur(0);
}

.recipes-carousel .emphasis:hover{
    transform: skewX(-0.5deg);
}

.recipes-carousel h2{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    margin-bottom: 80px;
}

.recipes-content{
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: space-evenly;
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.recipes-content h3{
    color: white;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(177, 140, 61);
}

.recipes-content p{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.recipes-content button{
    background-color: rgb(177, 140, 61);
    border-radius: 20px;
    padding-left: 10px;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.3s linear 0s;
}

.recipes-content button:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.price{
    display: inline-block;
    transform: skewX(-10deg);
    margin-left: 5px;
    padding: 10px;
    background-color: rgb(218, 218, 218);
    color: black;
}

.price span{
    display: inline-block;
    transform: skewX(10deg);
}

.recipes-image{
    display: flex;
    align-items: center;
    position: relative;
}

.smoke{
    position: absolute;
    opacity: 0.1;
    top: -120px;
    left: -40px;
    width: 300px;
}

.recipes-carousel > span{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 200px;
}

.recipes-carousel > span:hover{
    cursor: pointer;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

.right-span{
    right: -130px;
    border-radius: 100% 0 0 100%;
    padding-left: 30px;
}

.left-span{
    justify-content: flex-end;
    left: -130px;
    border-radius: 0 100% 100% 0;
    padding-right: 30px;
}

.info-section{
    display: flex;
    position: relative;
    border-top: 2px solid white;
}

.outer-content{
    display: flex;
    height: 50%;
    max-width: 40%;
    position: absolute;
    background-color: transparent;
}

.border-span{
    padding: 20px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.info-content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
    row-gap: 40px;
    height: 100%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid antiquewhite;
    border-right: 2px solid antiquewhite;
}

.info-content h2{
    color: antiquewhite;
    font-size: 2.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

.info-content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: antiquewhite;
}

.info-content button{
    padding: 15px 30px;
    background-color: rgb(255, 203, 93, 0.6);
    border-radius: 5px;
    border: none;
    border-right: 2px solid rgb(255, 218, 149);
    border-bottom: 2px solid rgb(255, 218, 149);
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}